*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Indie Flower", cursive;
  font-family: "Lato", sans-serif;
  font-family: 'Kalam', cursive;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Cabin Sketch', cursive;
  font-family: 'Delius', cursive;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

@keyframes openSubMenu {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-0.3rem); }
  50% {
    transform: translateY(0.3rem); }
  100% {
    transform: translateY(0); } }

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(25rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes bottomToTopImg {
  0% {
    opacity: 0;
    transform: perspective(100rem) rotateY(0) translateY(25rem); }
  100% {
    opacity: 1;
    transform: perspective(100rem) rotateY(40deg) translateY(0); } }

@keyframes drawLineLeftToRight {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

@keyframes gradient {
  0% {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, white), url("../img/library.jpg"); }
  100% {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 100%, white), url("../img/library.jpg"); } }

.nav {
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  height: 100vh;
  padding: 5rem 3rem;
  background-image: url("../img/business.jpg");
  background-size: cover;
  overflow: hidden;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .nav__item {
    margin: 1rem 0;
    padding: 3rem;
    width: 32%;
    background-color: rgba(2, 119, 189, 0.6);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    position: relative;
    backface-visibility: hidden;
    transition: all .2s;
    animation: bottomToTop .7s;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .nav__item:hover {
    transform: scale(1.05);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.6); }
  .nav__heading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    position: relative; }
    .nav__heading::after {
      content: "";
      display: block;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 0 10%;
      animation: drawLineLeftToRight 2s; }
  .nav__text {
    font-size: 1.7rem;
    font-weight: 300; }
  .nav__links {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 100%;
    background-color: #0277bd;
    border-radius: 0 0 3px 3px;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .4s; }
  .nav__item:hover .nav__links {
    opacity: 1;
    height: 55%; }
  .nav__link {
    font-size: 1.3rem;
    font-weight: 300;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    display: block;
    -ms-align-self: center;
    align-self: center; }
    .nav__link::before, .nav__link::after {
      content: "";
      height: 2px;
      width: 0;
      display: inline-block;
      margin: 0 .8rem .3rem .8rem;
      background-color: rgba(255, 255, 255, 0.3);
      transition: all .4s; }
    .nav__link:hover::before, .nav__link:hover::after {
      width: 3rem; }

.scholarship {
  height: 100vh;
  padding: 0 15rem 5rem;
  background-image: linear-gradient(to right bottom, #f2fcfe, #6190e8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .scholarship__heading-primary {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 30%;
    text-align: center; }
    .scholarship__heading-primary::after {
      content: "";
      display: block;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.3);
      margin-top: -1.2rem; }
  .scholarship__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7rem; }
  .scholarship__img {
    height: 45vh;
    width: 45%;
    background-image: url("../img/study-book.jpg");
    background-size: cover;
    background-position: top;
    box-shadow: -1rem 1.5rem 3rem rgba(0, 0, 0, 0.4);
    outline: 1rem solid #6190e8;
    outline-offset: 2rem;
    transform: perspective(100rem) rotateY(40deg);
    transition: all .7s; }
    .scholarship__img:hover {
      transform: rotateY(0); }
  .scholarship__text {
    font-size: 2rem;
    padding-left: 5rem;
    width: 55%; }

.invis {
  opacity: 0; }

.anim {
  animation: bottomToTop .8s; }

.animimg {
  animation: bottomToTopImg .8s; }
