// COLORS

// #FFFFEE
//
// 
// #F0F0EE
// #E3E4EA
// #DADCF2
// #D7D7DD
// #BBCCDD
// 
// #ADB0D8
// #99A1FF
// 
// #555577
// #3F447F
// 
// 
// #111188
// #001166
// 
// #000022

$color-white:#fff;
$color-black: #000;

$color-grey-light: #F2F2F2;
$color-grey-dark: #2B2B2B;

$color-main-light: #AABBDD;
$color-main: #3F447F;
$color-main-dark: #171C54;

$color-secondary-light: #8888AA;
$color-secondary-dark: #3D3E4C;

$color-bg: #E3E4EA;
$color-footer: #101011;

//FONT
$default-font-size: 1.6rem;

//GUTTER
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;