.nav {

    font-size: 1.7rem;
    font-weight: 400;
    color: $color-grey-light;
    height: 100vh;
    padding: 5rem 3rem;
    // background-image: url("../img/study-book.jpg");
    // background-image: url("../img/colour-art-pencils.jpg");
    background-image: linear-gradient(to bottom, rgba($color-bg, .2), rgba($color-bg, 1s)),
                       url("../img/img10.jpg");
    background-size: cover;
    overflow: hidden;

    display: -ms-flexbox;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__item {
        margin: 1rem 0;
        padding: 3rem;
        width: 32%;
        background-color: rgba($color-main, 0.7);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .6);
        border-radius: 3px;
        position: relative;
        backface-visibility: hidden;
        transition: all .2s;
        animation: bottomToTop .7s;

        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-pack: justify;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    &__item:hover {
        transform: scale(1.05);
        box-shadow: 0 2rem 4rem rgba($color-black, .6);
    }

    &__heading {
        @include heading(3rem, 60%);

        &::after {
            @include underlineHeading($color-white);
            animation: drawLineLeftToRight 2s;
        }
    }

    &__text {
        font-size: 1.7rem;
        font-weight: 300;

        
    }

    &__links {
        padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        height: 0;
        width: 100%;
        background-color: $color-main;
        border-radius: 0 0 3px 3px;
        cursor: pointer;

        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        -ms-flex-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: all .4s;
    }

    &__item:hover &__links {
        opacity: 1;
        height: 55%;
    }

    &__link {
        font-size: 1.3rem;
        font-weight: 300;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.5rem 2rem;
        display: block;

        -ms-align-self: center;
        align-self: center;

        &::before, &::after {
            content: "";
            height: 2px;
            width: 0;
            display: inline-block;
            margin: 0 .8rem .3rem .8rem;
            background-color: rgba($color-white, .3);
            transition: all .4s;
        }
 
        &:hover {

            &::before, &::after {
                width: 3rem;
            }
        }
    }
}