.scholarship {

    @include sections;
    // background-image: linear-gradient(to right top, $color-main-lightest, $color-main-darkest);

    &__heading-primary {
        @include heading(4rem, 30%);

        &::after {
            @include underlineHeading($color-black);
        }
    }

    &__content {
        margin-bottom: 7rem;

        display: -ms-flexbox;
        -ms-flex-align: center;

        display: flex;
        align-items: center;
    }

    &__img {

        height: 45vh;
        width: 45%;
        background-image: //linear-gradient(to right, rgba($color-white, 0) 20%, rgba($color-white, 1)),
            url("../img/img21.jpg");
        background-size: cover;
        background-position: top;
        box-shadow: -1rem 1.5rem 3rem rgba($color-black, 0.4);

        outline: 1rem solid $color-main-dark;
        outline-offset: 2rem;

        transform: perspective(100rem) rotateY(40deg);
        transition: all .7s;

        &:hover {
            transform: rotateY(0);
        }
    }

    &__text {
        font-size: 2rem; 
        padding-left: 5rem;
        width: 55%;
    }
}

.invis {
    opacity: 0;
}

.anim {
    animation: bottomToTop .8s;

    // for heading only
    &::after {
        animation: drawLineLeftToRight 3s, .4s;
    }
}

.anim-img {
    animation: bottomToTopImg .8s;
}