*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {

    font-family: "Indie Flower", cursive;
    font-family: "Lato", sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Delius', cursive;


    font-weight: 400;
    line-height: 1.7;

    box-sizing: border-box;

}

.main {
    background-color: $color-bg;
    // background-image: linear-gradient(to bottom, $color-main-lightest, $color-main-darkest);
}