.scholarship {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba($color-bg-dark, .3), rgba($color-bg-dark, .3)),
        url("../img/books-table.jpg");
    background-size: cover;
    background-position: top; 

    margin-top: 10rem;
}

.IBAandRSM {

}

.globalBusiness {

}

// .scholars {

// }

// .applications {

// }

// .links {

// }

// .donate {

// }