@keyframes openSubMenu {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-0.3rem);
    }

    50% {
        transform: translateY(0.3rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bottomToTop {
    0% {
        opacity: 0;
        transform: translateY(25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottomToTopImg {
    0% {
        opacity: 0;
        transform: perspective(100rem) rotateY(0) translateY(25rem);
    }

    100% {
        opacity: 1;
        transform: perspective(100rem) rotateY(40deg) translateY(0);
    }
}

@keyframes drawLineLeftToRight {
    0% {
        width: 0;
    }

    100% {
        width: 80%; // because of 10% margin-left and margin-right
    }
}

@keyframes gradient {
    0% {
        background-image: linear-gradient(to right, rgba($color-white, 0) 20%, rgba($color-white, 1)),
        url("../img/library.jpg");
    }

    100% {
        background-image: linear-gradient(to right, rgba($color-white, 0) 100%, rgba($color-white, 1)),
        url("../img/library.jpg");
    }
}
